.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 80%;
  max-width: 400px;
  background-color: antiquewhite;
  color: black;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.movie-search {
  width: 90%;
  max-width: 475px;
  font-size: 18px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.movie-title {
  color: black;
  margin: 0;
  height: 60px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.movie-date {
  color: #555;
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.movie-rate {
  color: red;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.detail-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  transition: background-color 0.3s;
}

.detail-button:hover {
  background-color: #0056b3;
}

.detail-movie-img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
}

.detail-movie-title {
  color: black;
  margin: 10px 0;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.detail-movie-date {
  color: #555;
  font-size: 20px;
  margin: 10px 0;
  font-style: italic;
  text-align: center;
}

.detail-movie-genre {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.detail-movie-rate {
  color: red;
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.detail-movie-overview {
  font-size: 18px;
  margin: 20px 10px;
  text-align: left;
}

.detail-movie-homepage {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.detail-movie-homepage a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* Style the navbar items */
ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of navbar items when hovered */
ul.navbar li a:hover {
  background-color: #555;
}
